{% extends "base/base.html" %}

{% block body_class %}compare{% endblock %}

{% block container %}
<div class="container">
    <div class='hero-unit'>
        <h2>{{ set.question }}</h2>
        <a class='btn' href='{% url 'set_home' set.id %}'>View Set</a>
        <div class='row-fluid'>
            <form method='post'>
                {% csrf_token %}
                <div class="span4 item btn" data-id={{ items.0.id }}>
                    {{ items.0.title }}
                </div>
                <div class='span2'>
                    <p>vs.</p>
                </div>
                <div class="span4 item btn" data-id={{ items.1.id }}>
                    {{ items.1.title }}
                </div>
                <input type='hidden' name='winner' value='-1'>
                <input type='hidden' name='loser' value='-1'>
            </form>
        </div>
    </div>
</div>
{% endblock container %}

{% block userscripts %}
    <script src="{{ STATIC_URL }}js/compare.js"></script>
{% endblock userscripts %}
