{% extends "base/base.html" %}
    {% block body_class %}home{% endblock %}

    {% block container %}
        <div class="container">
            <div class="hero-unit">
                <h2>Pick Your Set!</h2>
                <table>
                    <tr>
                        <th>Set Name</th>
                    </tr>
                    {% for set in sets %}
                        <tr>
                            <td><a href="{% url 'set_home' set.id %}">{{ set.title }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
                <div class='add-form row-fluid'>
                    <form method='post' class=''>
                        {% csrf_token %}
                        <h3>Add a new set</h3>
                        Set Name<input type='text' class="span2" name='title'>
                        Question<input type='text' class="span2" name='question'>
                        <button type="submit" class="btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}
